{namespace example}

/**
 */
{template .page}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        Hello GradleWebAssets plugin!
    </body>
</html>
{/template}